<h1><%= "Welcome, #{current_user.username}" %></h1>
<h2>All Tools</h2>
<div class="tool_info"><% current_user.tools.each do |tool| %>
<h4><%= tool.name %> </h4>
<p>Price: <%= tool.price %> Quantity: <%= tool.quantity %> </p>
<% end %></div>
<h3><%= link_to "Logout", logout_path, method: :delete %></h3>
<h3><%= link_to "Add Tool", new_user_tool_path(@user) %></h3>
<h3><%= link_to "Edit", edit_tool_path %></h3>
